In [275]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import PolynomialFeatures

In [276]:
# Lets bring in trained df for the 'SalePrice'
train_df = pd.read_csv('../project_2-master/datasets/train.csv')

In [277]:
# Lets read in the cleaned trained df
merged_train = pd.read_csv('../project_2-master/datasets/merged_train.csv')
# Lets read in the cleaned test df
merged_test = pd.read_csv('../project_2-master/datasets/merged_test.csv')

In [278]:
merged_train.head(1)

,Id,Total Bsmt SF,1st Flr SF,Gr Liv Area,Garage Area,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,...,Neighborhood_Timber,Neighborhood_Veenker,Overall Qual,Exter Qual,Bsmt Qual,Kitchen Qual,Year Built,Full Bath,TotRms AbvGrd,Garage Cars
0,109,725.0,725,1479,475.0,0,0,0,0,0,...,0,0,6,4,3,4,1976,2,6,2.0

In [279]:
merged_test.head(1)

,Id,Total Bsmt SF,1st Flr SF,Gr Liv Area,Garage Area,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,...,Neighborhood_Timber,Neighborhood_Veenker,Overall Qual,Exter Qual,Bsmt Qual,Kitchen Qual,Year Built,Full Bath,TotRms AbvGrd,Garage Cars
0,2658,1020,908,1928,440,0,0,0,0,0,...,0,0,6,3,2,2,1910,2,9,1

In [280]:
def linear_regression(train, test, saleprice):

# SET 'Id' AS THE INDEX
    train.set_index('Id', inplace=True)
    test.set_index('Id', inplace=True)

# CREATING X AND y
    X = train[train.columns[1:]]
    y = saleprice['SalePrice']
    
# POLYNOMIAL FEATURE ENGINEERING
    # Instantiate our PolynomialFeatures object to create all two-way terms.
#     poly = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)

    # Fit and transform our X data.
#     X_overfit = poly.fit_transform(X[train.columns[1:7]])

# TRAIN, TEST, SPLIT
    # train, test, split
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size = .90)
    
    #  Instantiate the model
    lr = LinearRegression()
    
    # Fit the model
    lr.fit(X_train, y_train)
    
    # Predict the model
    y_pred_train = lr.predict(X_train)
    y_pred_test = lr.predict(X_test)
    
    # Get the RMSE
    print(f"The RMSE for X_train is {mean_squared_error(y_train, y_pred_train, squared=False)}")
    print(f"The RMSE for X_test is {mean_squared_error(y_test, y_pred_test, squared=False)}")
    
# KAGGLE SUBMISSION STEPS

    # Set my merged_test to kaggle
    kaggle_predict = merged_test[merged_test.columns[1:]]
    
    # Predict 'SalePrice' with our model
    kaggle_predict['SalePrice'] = lr.predict(kaggle_predict)
    
    
    output = kaggle_predict[['SalePrice']]
    
    output.to_csv('../project_2-master/datasets/new_submission.csv')
    
    return output

In [281]:
linear_regression(merged_train, merged_test, train_df)

The RMSE for X_train is 32332.526428037832
The RMSE for X_test is 29289.831295748747

          SalePrice
Id
2658  130058.727045
2718  201502.410344
2414  197245.939189
1989  122218.640085
625   172365.740358
...             ...
1662  174547.132579
1234  205897.739267
1373  133715.415966
1672  110006.939661
1939  116254.267739

[878 rows x 1 columns]